/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Global styles */
body {
    background-color: #f0f0f0;
    font-family: 'Sofia Sans', sans-serif;
    font-size: medium;
    display: flex;

    min-height: 100vh; /* Use min-height for better responsiveness */
    background-image: url('background_img/pic4.jpg');
    background-size: cover; /* Ensure the background image covers the entire viewport */
}

/* Container styles */
.container {
    width: 50%;
    max-width: 400px; /* Added a maximum width for better responsiveness */
    margin: 50px auto; /* Adjusted top margin */
    padding: 20px;
    background-color: rgba(248, 209, 240, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Heading styles */
h1 {
    color: #007BFF;
    font-size: 36px; /* Slightly reduced font size for a cleaner look */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Form element styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="password"] {
    width: 100%; /* Expanded input width to fill the container */
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 4px;
}

/* Button styles */
#btn {
    width: 100px;
    background-color: #0056b3; /* Changed background color to match hover color */
    color: black;
    padding: 10px 20px;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Sofia Sans', sans-serif;
    display: block; /* Ensure the button is a block element */
    margin: 0 auto; /* Center the button within the container */
}

#btn:hover {
    background-color: lightblue;
}
